configuration {
	modi:                       "drun";
    show-icons:                 true;
    display-drun:               "Applications";
	drun-display-format:        "{name}";
}

@theme "~/.config/matugen/generated/rofi.rasi"
